
<style>
    .card:hover{
        background-color:cornflowerblue;
    }
</style>

{{#if user.auth}}
    {{!-- <h1>All Clients</h1> --}}
    <pre>{{user.auth}}</pre>
    <pre>{{user.name}}</pre>
    {{!-- <pre>{{clients}}</pre> --}}
{{/if}}

<div class="row">
    {{#each clients}}
        <div class="col-md-3 p-2">
            {{!-- onclick="window.location.href='/clients/edit/{{_id}}'" --}}
            <div class="card" onclick="window.location.href='/client/{{_id}}'">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{First_Name}}
                    </h4>
                    {{!-- <h4>
                        <a href="/clients/edit/{{_id}}"><i class="fas fa-thin fa-edit"></i></a>
                        <a href="/clients/edit/{{_id}}"><i class="fas fa-thin fa-eye"></i></a>
                    </h4> --}}
                </div>
                <div class="card-body p-4">
                    <p>{{Last_Name}}</p>
                </div>
                {{!-- <form action="/clients/delete/{{_id}}?_method=delete" method="post" style="padding: 10px;">
                    <input type="hidden" name="_method" value="delete">
                    <button 
                        type="submit" 
                        class="btn btn-danger btn-block btn-sm">Delete
                    </button>
                </form> --}}
            </div>

        </div>
    {{/each}}
</div>